@page
@model LoginModel

@{
    
    ViewData["Title"] = "Log in";
    Layout = "/Areas/Identity/Pages/Shared/_IdentityLayout.cshtml";

}



<div class="row justify-content-center w-100">
    <div class="col-md-8 col-lg-4 col-xxl-3">
        <!--Register-->
        <div class="card mb-0">
            <div class="card-body">
                <!--Logo-->
                <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                    <img src="~/AdminAssets/images/logos/dark-logo.svg" width="180" alt="TUT Shop">
                </a>
                <p class="text-center">Chào mừng bạn đến với TUT-Shop</p>
                <form method="post" id="account">

                    

                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" asp-for="Input.Email" placeholder="Nhập email" autofocus />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="mb-4">
                        <div class="input-group input-group-merge">
                            <input type="password" class="form-control" asp-for="Input.Password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                        <div class="d-flex justify-content-between">
                            <label class="form-label">Mật khẩu</label>
                            <a id="forgot-password" asp-page="./ForgotPassword">
                                <small>Quên mật khẩu?</small>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" asp-for="Input.RememberMe" />
                            <label class="form-check-label">Ghi nhớ đăng nhập</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary d-grid w-100" id="login" type="submit">Đăng nhập</button>
                    </div>
                    @* <input type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign In</a> *@
                    
                </form>
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                    article
                                    about setting up this ASP.NET application to support logging in via external services
                                </a>.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins!)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
                <p class="text-center">
                    <span>Bạn muốn tạo tài khoản?</span>
                    <a asp-area="Identity" asp-controller="Account" asp-action="Register"><span>Tạo tài khoản mới</span></a>
                </p>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

   
}
